html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.kontejner {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin: 50px 7px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.foto {
  flex-grow: 1;
}

.foto img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster';
}

.main {
  background-color: #283e50;
  text-align: center;
  font-size: 15px;
  padding: 20px 15px;
}

.odkazy a {
  display: block;
  font-size: 20px;
  padding: 15px 20px;
  text-decoration: none;
}

a.pravidla {
  border-bottom: 1px solid #283e50;
}

a.pravidla:link,
a.pravidla:visited,
a.pravidla:active {
  background-color: #1fcca4;
  color: #fff;
}

a.pravidla:hover {
  background-color: #1cbb96;
}

a.start:link,
a.start:visited,
a.start:active {
  background-color: #0197f6;
  color: #fff;
}

a.start:hover {
  background-color: #0090e9;
}

/*druhá stránka - Pravidla*/

.obal{
  background-color: #283e50;
  padding: 20px 20px;
  border-radius: 10px 10px 0 0;
}

.rules {
  padding: 1px 15px 1px 30px;
  text-align: left;
}

.rules li {
  padding: 10px;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.ukazky {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px 20px;
  font-size: 15px;
}

figure {
 /* padding: 15px 20px;*/
  margin: 0;
  grid-column: 1 / span 2;
}

figure img {
  width: 100%;
}

figcaption {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

a.uvod {
  border-bottom: 1px solid #283e50;
}

a.uvod:link,
a.uvod:visited,
a.uvod:active {
  background-color: #1fcca4;
  color: #fff;
}

a.uvod:hover {
  background-color: #1cbb96;
}

/* responze */

@media only screen and (min-width: 600px) {
  .kontejner {
    margin: 50px;
  }
  figure {
    grid-column: span 1;
  }
}

/*  třetí stránka - HRA  */


.hra {
 max-width: 80vmin;
  color: #ffffff;
  margin: 2rem auto;
  font-size: 20px;
}

.nadpis{
  text-align: center;
  font-size: 4rem;
}

.navigace{
  display: flex;
  justify-content: space-between;
  margin: 1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}

.navigace-leva {
  display: flex;
  align-items: center;
  margin: 0%;
}

.hrac {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
  margin-left: 10px;
}

.navigace-prava{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  width: calc((100% - 1rem) / 3);
}

.ikona-home{
  background-color: #1fcca4;
  display: block;
  margin: 0 3%;
  padding: 3%;
  border-radius: 5px;
}

.ikona-home:hover,
.ikona-home:focus{
  background-color: #1cbb96;
}


.ikona-restart{
  background-color: #0197f6;
  display: block;
  margin: 0 3%;
  padding: 3%;
  border-radius: 5px;
}

.ikona-restart:hover,
.ikona-restart:focus{
  background-color: #0090e9;
}


.mrizka{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  margin-top: 1rem;
  background: rgb(229, 182, 210);
  background: linear-gradient(
    10deg,
    rgba(229, 182, 210, 1) 0%,
    rgba(178, 148, 196, 1) 100%
  );
}
   /*opacity: 0.5;*/

.policko{
  width:10%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgb(38, 28, 78);
}

.policko:hover,
.policko:focus{
  background-color: rgba(255, 255, 255, 0.7);
}
/*
.policko::before {
  content: '';
  display: block;
  padding-top: 100%;
}*/



/* úkol 4*/

.board__field--circle {
  background-image: url('obrazky2/circle.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.board__field--cross {
  background-image: url('obrazky2/cross.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
