html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
}

.kontejner {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  /*nefunguje zaoblení pro stránku 2, nevím proč*/
  margin: 50px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.foto {
  flex-grow: 1;
}

.foto img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster';
}

.main {
  background-color: #283e50;
  text-align: center;
  font-size: 20px;
  padding: 20px 15px;
}

.odkazy a {
  display: block;
  font-size: 30px;
  padding: 15px 20px;
  text-decoration: none;
}

a.pravidla {
  border-bottom: 1px solid #283e50;
}

a.pravidla:link,
a.pravidla:visited,
a.pravidla:active {
  background-color: #1fcca4;
  color: #fff;
}

a.pravidla:hover {
  background-color: #1cbb96;
}

a.start:link,
a.start:visited,
a.start:active {
  background-color: #0197f6;
  color: #fff;
}

a.start:hover {
  background-color: #0090e9;
}


/*druhá stránka - Pravidla*/

.rules {
  padding: 1px 30px;
  text-align: left;
}

.rules li {
  margin-bottom: 5%;
  padding: 10px;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

 .ukazky {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  justify-content: space-evenly;
 }
 

figure {
  padding: 15px 30px;
  margin:auto;
  /*flex-basis: 50%; - když zapnuto tak jsou velde sebe*/
}

figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

a.uvod {
  border-bottom: 1px solid #283e50;
}

a.uvod:link,
a.uvod:visited,
a.uvod:active {
  background-color: #1fcca4;
  color: #fff;
}

a.uvod:hover {
  background-color: #1cbb96;
}


/* úprava pro TABLET

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .rules {
    min-width: 100%;
  }
  figure {
    max-width: 50%;
    min-width: 300px;
  }
}

--------------------------------------------  */

/* úprava pro PC


@media only screen and (min-width: 800px) {
  .rules {
    min-width: 700px;
  }

  .rules img {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    max-width: 50%;
  }
}
*/